body{
    background-color: bisque;
}

.logo{
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

ul{
    display: flex;
    list-style-type: none;
}
a{
    text-decoration: none;
}
li{
    padding-left: 22px;
}
li a{
    font-size: medium;
    color: black;
}
.navigate{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.Hero{
    justify-content: space-around;
    display: flex;
    
    }
.hero-photo{
    width: 360px;
    height: 360px;
    border-radius: 50%;
    
}
.stack-content{
    text-align: center;
}
.web-apps{
    text-align: center;
}
.table{
    display: flex;
    justify-content: space-around;
}
.table2{
    display: flex;
    justify-content: space-around;
}
th{
    text-align: center;
}
#contact-icon{
    margin-right: 80px;
    gap: 80px;
}